<p id="notice"><%= notice %></p>

<p>
  <strong>Parking:</strong>
  <%= @rating.parking %>
</p>

<p>
  <strong>Parkingid:</strong>
  <%= @rating.parkingId %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @rating.userId %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rating.date %>
</p>

<p>
  <strong>Score:</strong>
  <%= @rating.score %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @rating.observations %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
